.titleWeb{
  font-family: avegeanceMightiestAvenger;
  font-size: 2em;
}

.fontMenuLink{
  font-family: avegeanceMightiestAvenger;
  font-size: 1em;
}

@media (max-width: 480px) {
  .titleWeb{
    font-size: 1.5em;
  }
}
