<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

  <a class="navbar-brand titleWeb" href="/">MARVEL ANGULAR</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fontMenuLink" routerLink="character/form/create">
          <span class="oi oi-plus mr-1"></span>
          CREATE CHARACTER
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>

</nav>
