@font-face {
    font-family: avegeanceMightiestAvenger;
    src: url(../../assets/fonts/avegeance_mightiest_avenger.otf);
}

@font-face {
    font-family: mask;
    src: url(../../assets/fonts/mask.ttf);
}

@font-face {
    font-family: openSans;
    src: url(../../assets/fonts/open_sans.ttf);
}

*{
  font-family: openSans;
}

.fixTop{
  margin-top: 100px;
}
