<div class="row my-4">
  <div id="subMenuOps" class="col-sm-12 text-right">
    <button type="button" class="btn btn-secondary" (click)="onBack(orderAsc)">
      <span class="oi oi-chevron-left"></span>
      Volver
    </button>
  </div>
</div>

<div class="row" *ngIf="displayForm; else msgErrorBlock">

    <div class="col-12 col-md-4 text-center mb-5">
      <img id="imgHeroe" [src]="imgNewChar">
    </div>

    <div class="col-12 col-md-8">
      <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">

        <div class="form-group row">
          <label for="name" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Name</label>
          <div class="col-12 col-md-9">
            <input type="text" class="form-control" id="name" name="name"
            formControlName="name">
          </div>
        </div>

        <div class="form-group row">
          <label for="alterEgo" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Alter ego</label>
          <div class="col-12 col-md-9">
            <input type="text" class="form-control" id="alterEgo" name="alterEgo"
            formControlName="alterEgo">
          </div>
        </div>

        <div class="form-group row">
          <label for="birthDate" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Date of birth</label>
          <div class="col-12 col-md-9">
            <input type="date" class="form-control" id="birthDate" name="birthDate"
            formControlName="birthDate">
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Description</label>
          <div class="col-12 col-md-9">
            <textarea id="description" class="form-control" name="description"
            formControlName="description"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="image" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Image URL</label>
          <div class="col-12 col-md-9">
            <input type="url" class="form-control" id="image" name="image"
            (blur)="onLoadImg(form.controls['image'].value)"
            (keyup.enter)="onLoadImg(form.controls['image'].value)"
            formControlName="image">
          </div>
        </div>

        <div class="form-group row">
          <label for="powers" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Superpowers</label>
          <div class="col-12 col-md-9">
            <select multiple id="powers" class="form-control" name="powers"
            formControlName="powers">
              <option *ngFor="let power of powers" [ngValue]="power" [selected]="power">{{power}}</option>
            </select>
          </div>

        </div>

        <div class="form-group row">
          <label for="strength" class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold col-form-label">Strength</label>
          <div class="col-12 col-md-9">
            <select id="strength" class="form-control" name="strength"
            formControlName="strength">
              <option *ngFor="let str of strength" [ngValue]="defaultStrength" >{{str}}</option>
            </select>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12 text-right">
            <button id="btnSave" [disabled]="disabledBtnSave" [ngClass]="{'displayNone': isDisplayNoneSave, 'btn': true, 'btn-primary': true}">Save</button>
            <button id="btnSave" [disabled]="disabledBtnUpdate" [ngClass]="{'displayNone': isDisplayNoneUpdate, 'btn': true, 'btn-primary': true}">Update</button>
            <img id="loadingBtns" src="/assets/img/loading.gif" *ngIf="loadingImgForm">
          </div>
        </div>

      </form>

      <div class="row my-3">
        <div *ngIf="msgInfoForm" class="col-12 alert alert-info">
          {{msgInfoForm}}
        </div>
      </div>

    </div>
</div>

<ng-template #msgErrorBlock class="col-sm">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/img/loading.gif" *ngIf="loadingImg">
      <p *ngIf="msgError">{{msgError}}</p>
    </div>
  </div>
</ng-template>
