<div class="row my-4">
  <div id="subMenuOps" class="col-sm-12 text-right">
    <button type="button" class="btn btn-secondary" (click)="onBack(orderAsc)">
      <span class="oi oi-chevron-left"></span>
      Volver
    </button>
  </div>
</div>

<div class="row" *ngIf="character; else msgErrorBlock">

  <div class="col-12 col-md-4 text-center mb-5">
    <img id="imgHeroe" [attr.src]="character.image" />
  </div>

  <div class="col-12 col-md-8">

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">Id</div>
      <div class="col-12 col-md-9">{{ character.id }}</div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">Name</div>
      <div class="col-12 col-md-9">{{ character.name }}</div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">Alter Egor</div>
      <div class="col-12 col-md-9">{{ character.alterEgo }}</div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">Powers</div>
      <div class="col-12 col-md-9">
        <ul>
          <li *ngFor="let power of character.powers">{{ power }}</li>
        </ul>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">Strength</div>
      <div class="col-12 col-md-9">{{ character.strength }}</div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">Description</div>
      <div class="col-12 col-md-9">{{ character.description }}</div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-3 detailData text-md-right text-secondary font-weight-bold">BirthDate</div>
      <div class="col-12 col-md-9">{{ character.birthDate }}</div>
    </div>

    <div class="row my-5">
      <div class="col-sm-12 text-right">
        <a
        *ngIf="isModifiable"
        [ngClass]="{'disabled': disabledBtnDelete, 'btn': true, 'btn-info': true}"
        href="#" role="button"
        data-toggle="modal"
        data-target="#deleteModal">
          <span class="oi oi-delete"></span>
          Borrar
        </a>
        <a
        *ngIf="isModifiable"
        [ngClass]="{'disabled': disabledBtnUpdate, 'btn': true, 'btn-info': true}"
        routerLink="/character/form/update/{{character.id}}"
        role="button">
          <span class="oi oi-pencil"></span>
          Modificar
        </a>
        <p *ngIf="msgErrorDelete">{{msgErrorDelete}}</p>
      </div>
    </div>

  </div>

</div>

<ng-template #msgErrorBlock class="col-sm">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/img/loading.gif" *ngIf="loadingImg">
      <p *ngIf="msgError">{{msgError}}</p>
    </div>
  </div>
</ng-template>

<!-- Modal to ask about deleting -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿En serio que quieres borrar el personaje?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCharacter()">Borrar</button>
      </div>
    </div>
  </div>
</div>
