.thumbBadge{
  margin-bottom: 40px;
  text-align: center;
}

.thumbBadge .thumbSuWrap{
  display: inline-block;
}

.thumbBadge .thumbSuWrap img{
  width: 200px;
  height: 200px;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.4em 0.1em #e8e8e8;
}

.thumbBadge a .thumbBadgeLetter{
  height: 26px;
  width: 200px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 0.5em 0.5em;
  opacity: 0;
  font-family: mask;
  font-size: 1.3em;
  line-height: 16px;
}

.thumbBadge a:hover .thumbBadgeLetter{
  opacity: 1;
}

.alignRight{
  float: right;
}

#subMenuMaster{
  margin-bottom: 40px;
}

#orderBtns button:hover{
  cursor: pointer;
}
