<div *ngIf="listCharsVisible; else msgErrorBlock">

  <div class="row">
    <div id="subMenuMaster" class="col-sm-12">
      <div id="orderBtns" class="btn-group alignRight" role="group" aria-label="Order type">
        <button type="button" class="btn btn-secondary" (click)="onOrderListChar(orderAsc)">A-Z</button>
        <button type="button" class="btn btn-secondary" (click)="onOrderListChar(orderDesc)">Z-A</button>
      </div>
    </div>
  </div>

  <div class="row"
          infiniteScroll
  		    [infiniteScrollDistance]="2"
  		    [infiniteScrollThrottle]="2000"
  		    (scrolled)="onScroll()">
    <div class="col-sm-6 col-md-4 col-lg-3 thumbBadge" *ngFor="let char of listCharsVisible; let i = index">
        <a class="thumbSuWrap" routerLink="/character/{{ char.id }}">
          <img [attr.src]="char.image" />
          <div class="thumbBadgeLetter">{{ char.name }}</div>
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center" *ngIf="showLoadScroll">
        <img id="imgHeroe" [attr.src]="srcImgLoad" />
    </div>
  </div>

</div>

<ng-template #msgErrorBlock class="col-sm">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/img/loading.gif" *ngIf="loadingImg">
      <p *ngIf="msgError">{{msgError}}</p>
    </div>
  </div>
</ng-template>
